@font-face {
    font-family: sans_pro_light;
    src: url(SourceSansPro-Light.ttf);
}

@font-face {
    font-family: sans_pro;
    src: url(SourceSansPro-Regular.ttf);
}

@font-face {
    font-family: sans_pro_medium;
    src: url(SourceSansPro-SemiBold.ttf);
}

@font-face {
    font-family: sans_pro_bold;
    src: url(SourceSansPro-Bold.ttf);
}


